$clr-primary: hsl(225, 100%, 94%);
$clr-secondary: hsl(245, 75%, 52%);

$clr-x-pale-blue: hsl(225, 100%, 98%);
$clr-desaturated-blue: hsl(224, 23%, 55%);
$clr-dark-blue: hsl(223, 47%, 23%);

$fs-base: 16px;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;